formulario {
  label {
    text-align: center;
    display: block;
  }

  h3.text-success, h3.text-danger {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
  }




  .edad{

    position: absolute;
      top: 65%;
      text-align: center;
      font-size: 18px;
      width: 55%;

  }
  .genero{

    position: absolute;
      top: 45%;
      text-align: center;
      font-size: 18px;
      width: 55%;
  }
  .localidades{
      position: absolute;
      top: 25%;
      text-align: center;
      font-size: 18px;
      width: 55%;
  }


    .form{
      margin-left: 42%;
      margin-right:50%;
      width: 100%;
    }


  .text-success, .has-success .control-label, .has-success .form-control {
    color: @brand-success !important;
    font-size: 1.6em;
  }

  .has-success .form-control {
    border-color: @brand-success !important;
  }

  .text-danger, .has-danger .control-label {
    color: @brand-danger !important;
  }


  .btn-group {
    .btn {
      border-radius: 10px;
      font-weight: bold;
      padding: 5px 15px;
      box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 1);
      cursor: pointer;
    }

    .btn-ver-estadisticas {
      background-color: @brand-warning;
      border: 1px solid @brand-warning;
      color: white;
      font-size: 1.6em;
      margin: 5px 0px;
      outline: none;

      img.message-tail-warning {
        position: absolute;
        left: 3px;
        bottom: -10px;
        height: 10px;
      }
    }
  }

  .fin-encuesta {
    margin: 40px 0px 290px;

    h2 {
      margin: 0px;
      color: @gray;
    }

    .like-heart {
      width: 90px;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 500px) {
    h2, h3 {
      font-size: 20px;
    }
  }

  .fade {
    transition: all ease-in 1.5s;
    opacity: 1;
  }

  .fade.ng-hide {
    opacity: 0;
  }
  .ng-hide {
    opacity: 0;
    transition: none 0;
  }

  .ui-select-choices-row-inner,
  .ui-select-match-text,
  .ui-select-choices-group-label {
    text-align: center;
  }

  .ui-select-choices-group-label {
    font-size: 1.1em;
    font-weight: bold;
  }

  .ui-select-highlight {
    background-color: yellow;
    color: black;
  }

}
