<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h2>La encuesta está por terminar</h2>
        <h3 ng-class="vm.validation.finish ? 'text-success' : 'text-danger'">
          <span>{{vm.validation.finish ? 'Gracias!' : 'Dejános unos datos más'}}</span>
        </h3>
      </div>
    </div>
  </div>
</div>

<form class="form">
  <div class="row">
    <div class="genero">
    <div class="col-sm-4">
      <div class="form-group" ng-class="{'has-success': vm.validation.genero === 'valid'}">
        <label class="control-label">Género</label>
        <ui-select ng-model="vm.selected.genero" on-select="vm.selectOption('genero', $select.selected)">
          <ui-select-match>
            <span ng-bind="$select.selected.label"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in vm.generosList | filter:$select.search">
            <span ng-bind-html="item.label | highlight:$select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    </div>
    <div class="localidades">
    <div class="col-sm-4">
      <div class="form-group" ng-class="{'has-success': vm.validation.localidad === 'valid'}">
        <label class="control-label">Localidad</label>
        <ui-select ng-model="vm.selected.localidad" on-select="vm.selectOption('localidad', $select.selected)">
          <ui-select-match>
            <span ng-bind="$select.selected.ciudad"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in vm.localidadesList | filter:$select.search" group-by="'departamento'">
            <span ng-bind-html="item.ciudad | highlight:$select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    </div>
    <div class="edad">
    <div class="col-sm-4">
      <div class="form-group" ng-class="{'has-success': vm.validation.edad === 'valid'}">
        <label class="control-label">Edad</label>
        <ui-select ng-model="vm.selected.edad" on-select="vm.selectOption('edad', $select.selected)">
          <ui-select-match>
            <span ng-bind="$select.selected"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in vm.edadesList | filter:$select.search">
            <span ng-bind-html="item | highlight:$select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
  </div>
</form>

<div class="container-fluid fin-encuesta fade" ng-show="vm.validation.finish">
  <div class="row">
    <div class="col-xs-12 text-center">
      <img class="like-heart" src="assets/images/like-heart.svg">
      <h2>Fin de la encuesta</h2>
      <div class="btn-group">
        <button type="button" class="btn btn-ver-estadisticas" scroll-to="#resultados">
          <img class="message-tail-warning" src="assets/images/message-tail-warning-bottom-left.svg">
          Ver estadísticas
        </button>
      </div>
    </div>
  </div>
</div>

<div style="height: 500px;width: 100%;" ng-hide="vm.validation.finish"></div>
