<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>


</head>

</head>
<navbar></navbar>

<body>
  <div id="container">
        <div id="sidebar">
          
        </div>
        <div id="map"></div>
      </div>


</body>
<footer></footer>
