#map {
  height: 775px;
  margin: auto;
}

#sidebar {
  float: right;
  height: 100%;
  max-width: 100%;
  width: 500px;
}

.tituloBurbuja {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 0;
}


.sidebar-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  #sidebar {
    display: none;
  }
}
.panel{
  margin-bottom:0;
  border-width:0;
  box-shadow:none;
  -webkit-box-shadow:none;
}

.panel-title {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.content {
  padding: 20px;
}
