<div class="footer container">
  <div>
    <a>
      <img class="logo-europa" src="assets/images/logo-europe.png" alt="Logo de la Unión Europea">
    </a>
  </div>
  <div>
    <a href="https://www.equalrightstrust.org" target="_top">
      <img class="logo-equalrightstrust" src="assets/images/logo-equalrightstrust.png" alt="Logo de Equal Rights Trust">
    </a>
  </div>
  <div>
    <a href="http://tedic.org" target="_top">
      <img class="logo-tedic" src="assets/images/logo-tedic-success.svg" alt="Logo de Tedic">
    </a>
  </div>
  <div>
    <a href="/" target="_top">
      <img class="logo-datacuenta" src="assets/images/logo-datacuenta-isotipo.svg" alt="Logo de DataCuenta">
    </a>
  </div>
  <div>
    <a href="https://creativecommons.org/" target="_top">
      <img class="logo-cc" src="assets/images/logo-cc-circle-black.svg" alt="Logo de Creative Commons">
    </a>
  </div>
  <div>
    <a href="https://gitlab.com/tedicpy/data.cuenta" target="_top">
      <img class="logo-gitlab" src="assets/images/logo-gitlab.png" alt="Logo de GitLab">
    </a>
  </div>
</div>
