@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,700,900&display=swap');

@import '~bootstrap/less/bootstrap.less';
@import '~font-awesome/less/font-awesome.less';

@icon-font-path: '/assets/fonts/bootstrap/';
@fa-font-path: '/assets/fonts/font-awesome/';

/**
 * App-wide Styles
 */

@brand-success: #00AC9B;
@brand-warning: #FFE153;
@brand-danger: #ED3F5F;
@brand-info: #007CB4;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-top: 60px;
}

.clearfix {
  clear: both;
}

.md, .xxs {
  display: none;
}

a, .btn {
  cursor: pointer;
}

@media screen and (min-width: 420px) {
  .md {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  .xxs {
    display: block;
  }
}

/* inject:less */
@import 'components/formulario/formulario';
@import 'components/mapa/mapa';
@import 'components/portada/portada';
@import 'components/pregunta/pregunta';
@import 'components/resultado/resultado';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
/* endinject */

@import '../../node_modules/ui-select/dist/select.css';