<div class="pregunta-container" ng-class="vm.preguntas[vm.index].classes">
  <div class="bg-preguntas">
    <div class="visible-xs visible-sm content">
      <div class="pregunta-id">
        <h2>{{vm.preguntas[vm.index].idPregunta}}</h2>
      </div>
      <div class="pregunta-text">
        <div class="bg-preg-text">
          <p>{{vm.preguntas[vm.index].descripcion}}</p>
        </div>
      </div>
      <div ng-include="'pregunta-btns'"></div>
    </div>
    
    <div class="visible-md visible-lg content">
      <div class="row">
        <div class="col-md-4">
          <div class="pregunta-id">
            <h2>{{vm.preguntas[vm.index].idPregunta}}</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pregunta-text">
            <div class="bg-preg-text">
              <p>{{vm.preguntas[vm.index].descripcion}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div ng-include="'pregunta-btns'"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="pregunta-btns">
  <div class="pregunta-btn-group text-center">
    <div class="btn-group btn-group-lg">
      <button ng-click="vm.goNext('NO')" type="button" class="btn btn-no">
        <img class="message-tail-bottom-left" src="assets/images/message-tail-bottom-left.svg">
        <span class="text">No</span>
        <svg class="icon">
          <use xlink:href="{{vm.iconSelected}}"></use>
        </svg>
      </button>
      <button ng-click="vm.goNext('SI')" type="button" class="btn btn-si">
        <img class="message-tail-bottom-right" src="assets/images/message-tail-bottom-right.svg">
        <span class="text">Si</span>
        <svg class="icon">
          <use xlink:href="{{vm.iconSelected}}"></use>
        </svg>
      </button>
    </div>
    <div class="btn-group btn-group-lg">
      <button ng-click="vm.goNext('NOSE')" type="button" class="btn btn-default btn-nose">
        <span class="text">No responder</span>
        <svg class="icon">
          <use xlink:href="{{vm.iconSelected}}"></use>
        </svg>
      </button>
    </div>
  </div>
</script>


<!-- SVG Sprite -->
<svg width="0" height="0" class="hidden">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="001-llanto">
    <path d="M512 256c0 141.382-114.618 256-256 256S0 397.382 0 256 114.618 0 256 0s256 114.618 256 256" fill="#ffcc4d"></path>
    <path d="M312.889 384c0 39.296-25.473 42.666-56.889 42.666-31.431 0-56.889-3.371-56.889-42.666 0-39.267 25.458-85.334 56.889-85.334 31.417 0 56.889 46.067 56.889 85.334m113.777-170.666a14.05 14.05 0 0 1-5.276-1.024c-74.367-29.739-104.846-74.525-106.112-76.43-4.367-6.528-2.603-15.36 3.94-19.726 6.527-4.353 15.33-2.603 19.697 3.897.27.399 27.449 39.623 93.028 65.849 7.296 2.915 10.85 11.192 7.936 18.489-2.219 5.56-7.58 8.945-13.213 8.945m-341.332 0a14.24 14.24 0 0 1-13.213-8.946c-2.915-7.297.626-15.574 7.921-18.49 65.593-26.225 92.772-65.45 93.042-65.848 4.38-6.485 13.212-8.206 19.726-3.84 6.485 4.38 8.249 13.155 3.911 19.669-1.266 1.906-31.759 46.691-106.112 76.43a14.068 14.068 0 0 1-5.275 1.025"
      fill="#664500"></path>
    <path d="M113.778 497.777l56.888-.653V227.57h-56.889v270.208zm227.556-270.222h56.889v270.222l-56.89-.653V227.555z" fill="#5dadec"></path>
    <path d="M213.319 256c-2.134 0-4.309-.484-6.343-1.494-49.949-24.989-100.565-.27-101.062 0-7.04 3.528-15.559.654-19.087-6.371-3.512-7.026-.653-15.574 6.372-19.086 2.588-1.267 63.971-31.233 126.492 0 7.026 3.512 9.885 12.06 6.371 19.086-2.503 4.992-7.523 7.865-12.743 7.865m199.111 0c-2.134 0-4.309-.484-6.342-1.494-49.963-24.974-100.565-.27-101.063 0-7.026 3.513-15.559.669-19.086-6.371-3.513-7.026-.654-15.574 6.371-19.086 2.574-1.267 64.014-31.233 126.493 0 7.026 3.512 9.885 12.06 6.357 19.086-2.49 4.992-7.51 7.865-12.73 7.865"
      fill="#664500"></path>
    <path d="M512 483.555C512 499.256 397.382 512 256 512S0 499.257 0 483.555s114.618-28.445 256-28.445 256 12.744 256 28.445" fill="#5dadec"></path>
    <path d="M298.666 384c0 23.566-19.1 28.445-42.666 28.445s-42.666-4.879-42.666-28.445 19.1-28.445 42.666-28.445 42.666 4.879 42.666 28.445" fill="#e75a70"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="002-triste">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#ffcc4d"></path>
    <path d="M199.111 234.666c0 27.506-15.915 49.778-35.555 49.778S128 262.172 128 234.666c0-27.491 15.915-49.777 35.555-49.777s35.556 22.286 35.556 49.777m201.139 0c0 27.506-15.915 49.778-35.555 49.778s-35.555-22.273-35.555-49.778c0-27.491 15.915-49.777 35.555-49.777s35.555 22.286 35.555 49.777m-66.241 161.835c-.172-.626-16.299-62.278-78.009-62.278-61.739 0-77.866 61.653-78.009 62.278-.754 3.029.611 6.13 3.285 7.738 2.674 1.592 6.159 1.222 8.476-.854.143-.1 14.422-12.274 66.248-12.274 51.044 0 65.664 11.805 66.219 12.274a7.116 7.116 0 0 0 4.892 1.949 7.178 7.178 0 0 0 3.499-.91c2.787-1.594 4.181-4.823 3.399-7.923"
      fill="#664500"></path>
    <path d="M142.222 426.666c0 39.282-31.828 71.112-71.11 71.112S0 465.948 0 426.666s56.889-142.222 71.111-142.222 71.111 102.941 71.111 142.222" fill="#5dadec"></path>
    <path d="M426.666 184.889c-78.99 0-110.961-62.109-112.285-64.754-3.512-7.026-.653-15.559 6.372-19.086 6.997-3.499 15.53-.669 19.057 6.315 1.052 2.062 25.885 49.081 86.855 49.081 7.865 0 14.222 6.371 14.222 14.223.002 7.85-6.356 14.22-14.22 14.22m-341.333.001c-7.852 0-14.223-6.371-14.223-14.223 0-7.851 6.371-14.222 14.223-14.222 72.291 0 85.276-44.374 85.802-46.265 2.063-7.509 9.814-12.06 17.338-10.084 7.537 1.978 12.102 9.571 10.211 17.138-.698 2.76-18.006 67.656-113.351 67.656"
      fill="#664500"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="003-enojado">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#da2f47"></path>
    <path d="M362.454 424.946c-.64-2.546-16.611-62.279-106.454-62.279-89.856 0-105.828 59.734-106.454 62.28-.782 3.085.611 6.285 3.371 7.878 2.774 1.55 6.244 1.124 8.52-1.095.27-.27 27.79-26.396 94.563-26.396 66.759 0 94.294 26.126 94.549 26.396a7.179 7.179 0 0 0 5.006 2.047 7.178 7.178 0 0 0 3.499-.91c2.787-1.592 4.181-4.82 3.4-7.92M223.389 245.945c-46.294-46.294-120.69-46.834-123.833-46.834-7.851 0-14.207 6.358-14.207 14.208-.014 7.836 6.342 14.222 14.194 14.236.412 0 27.377.313 56.647 10.481-8.434 9.103-13.966 23.239-13.966 39.296 0 27.507 15.915 49.778 35.555 49.778s35.555-22.273 35.555-49.778c0-2.475-.27-4.835-.526-7.21.185 0 .355.1.526.1 3.641 0 7.281-1.394 10.055-4.168 5.56-5.56 5.56-14.548 0-20.109m189.056-46.834c-3.142 0-77.525.54-123.832 46.834a14.204 14.204 0 0 0 0 20.11 14.182 14.182 0 0 0 10.055 4.168c.185 0 .34-.1.512-.1-.227 2.375-.512 4.736-.512 7.21 0 27.507 15.915 49.778 35.555 49.778s35.555-22.272 35.555-49.777c0-16.058-5.533-30.194-13.967-39.296 29.269-10.17 56.235-10.482 56.662-10.482 7.836-.013 14.193-6.4 14.18-14.236-.014-7.851-6.358-14.209-14.208-14.209"
      fill="#292f33"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="004-enojado-1">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#da2f47"></path>
    <g fill="#292f33">
      <path d="M362.454 424.946c-.64-2.546-16.611-62.279-106.454-62.279-89.856 0-105.828 59.734-106.454 62.28-.782 3.085.611 6.285 3.371 7.878 2.774 1.55 6.244 1.124 8.52-1.095.27-.27 27.79-26.396 94.563-26.396 66.759 0 94.294 26.126 94.549 26.396a7.179 7.179 0 0 0 5.006 2.047 7.178 7.178 0 0 0 3.499-.91c2.787-1.592 4.181-4.82 3.4-7.92M223.389 217.5c-46.294-46.294-120.69-46.834-123.833-46.834-7.851 0-14.207 6.358-14.207 14.208-.014 7.836 6.342 14.222 14.194 14.236.412 0 27.377.313 56.647 10.481-8.434 9.103-13.966 23.239-13.966 39.296 0 27.507 15.915 49.778 35.555 49.778s35.555-22.273 35.555-49.778c0-2.475-.27-4.835-.526-7.21.185 0 .355.1.526.1 3.641 0 7.281-1.395 10.055-4.168 5.56-5.559 5.56-14.548 0-20.109m189.056-46.834c-3.142 0-77.525.54-123.832 46.834a14.204 14.204 0 0 0 0 20.11 14.182 14.182 0 0 0 10.055 4.168c.185 0 .34-.1.512-.1-.227 2.375-.512 4.736-.512 7.21 0 27.507 15.915 49.778 35.555 49.778s35.555-22.272 35.555-49.777c0-16.058-5.533-30.194-13.967-39.297 29.269-10.168 56.235-10.48 56.662-10.48 7.836-.015 14.193-6.4 14.18-14.237-.014-7.851-6.358-14.209-14.208-14.209"></path>
      <path d="M422.955 469.334H89.045c-17.679 0-32.156-14.464-32.156-32.156v-81.622c0-17.692 14.479-32.156 32.156-32.156h333.909c17.692 0 32.156 14.464 32.156 32.156v81.621c.001 17.692-14.463 32.157-32.155 32.157"></path>
    </g>
    <path d="M122.468 402.66h12.842l2.161-15.403H124.63l-2.162 15.403zm-10.952-15.403h-11.62c-4.466 0-6.5-3.256-6.5-6.5 0-3.242 2.034-6.485 6.5-6.485h13.511l2.973-21.76c.682-4.863 2.702-6.485 6.755-6.485 3.242 0 6.229 2.148 6.229 5.405 0 2.02 0 1.082-.27 3.243l-2.717 19.599h12.985l2.973-21.76c.682-4.864 2.702-6.485 6.77-6.485 3.242 0 6.215 2.147 6.215 5.405 0 2.02 0 1.081-.27 3.242l-2.703 19.599h11.62c4.467 0 6.5 3.242 6.5 6.485 0 3.242-2.033 6.5-6.5 6.5h-13.51l-2.177 15.402h11.634c4.466 0 6.485 3.257 6.485 6.5s-2.02 6.485-6.485 6.485h-13.512l-2.972 21.76c-.683 4.88-2.716 6.485-6.77 6.485-3.243 0-6.215-2.147-6.215-5.39 0-2.033 0-1.095.27-3.256l2.702-19.599h-12.983l-2.973 21.76c-.669 4.88-2.702 6.485-6.755 6.485-3.242 0-6.229-2.147-6.229-5.39 0-2.033 0-1.095.27-3.256l2.717-19.599H95.83c-4.466 0-6.485-3.242-6.485-6.485 0-3.242 2.02-6.5 6.485-6.5h13.525l2.161-15.405zm152.037 35.698c0-4.338-2.574-8.106-7.04-8.106-4.467 0-7.027 3.769-7.027 8.106 0 4.324 2.56 7.979 7.026 7.979 4.465 0 7.04-3.655 7.04-7.979m-27.847 0c0-11.761 8.775-21.902 20.807-21.902 12.047 0 20.835 10.14 20.835 21.902 0 11.747-8.788 21.76-20.835 21.76-12.032 0-20.807-10.012-20.807-21.76m13.099-74.24c1.764-3.371 3.115-4.309 6.229-4.309 4.18 0 7.965 3.371 7.965 7.566 0 1.082 0 2.02-1.082 4.054l-45.426 85.035c-2.02 2.845-2.83 4.467-6.073 4.467-3.512 0-7.708-3.372-7.708-7.44 0-2.02.811-3.91 1.351-4.992l44.744-84.381zm-32.854 18.389c0-4.309-2.56-8.107-7.026-8.107-4.466 0-7.026 3.798-7.026 8.107 0 4.337 2.56 7.992 7.026 7.992 4.466.001 7.026-3.655 7.026-7.992m-27.847 0c0-11.762 8.788-21.903 20.82-21.903s20.822 10.14 20.822 21.903-8.789 21.773-20.821 21.773-20.822-10.01-20.822-21.773m111.56-12.686c0-5.675 4.182-9.188 9.728-9.188 5.405 0 9.727 3.641 9.727 9.188v52.053c0 5.546-4.323 9.201-9.727 9.201-5.546 0-9.727-3.512-9.727-9.2v-52.055zm-.825 79.772c0-5.817 4.737-10.553 10.553-10.553 5.817 0 10.553 4.737 10.553 10.553 0 5.817-4.737 10.553-10.553 10.553-5.816 0-10.553-4.736-10.553-10.553m76.288-76.629c-3.982 0-9.529 3.257-9.529 8.562 0 4.948 2.433 7.95 7.595 13.212l.725.74.91-.455c7.069-3.712 10.639-7.865 10.639-12.374 0-6.67-5.347-9.685-10.34-9.685m-9.543 38.557c-6.087 4.08-12.287 9.457-12.287 18.36 0 9.33 6.072 15.347 15.487 15.347 7.837 0 12.928-3.441 18.134-8.619l1.01-.981-21.334-24.789-1.01.682zm49.024 49.407c-2.645 0-4.309-.754-6.115-2.787l-10.297-11.235-1.024.952c-9.984 9.159-18.603 13.07-28.8 13.07-15.773 0-31.701-8.989-31.701-29.07 0-15.744 12.331-25.159 19.683-29.369l1.664-.967-1.351-1.394c-6.045-6.329-8.505-11.562-8.505-18.047 0-15.303 13.98-22.273 26.965-22.273 10.866 0 26.169 6.429 26.169 20.721 0 13.525-12.559 21.348-16.413 23.424l-1.635.881 16.513 19.073 6.328-7.623c3.513-4.223 5.547-6.001 9.188-6.001 2.915 0 6.03 2.618 6.03 7.439 0 3.626-3.584 8.32-7.098 12.459l-4.223 4.765 10.041 11.903c1.862 2.219 2.631 3.399 2.631 6.088 0 4.18-3.84 7.991-8.05 7.991"
      fill="#fff"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.757 511.757" id="005-pensamiento">
    <path d="M28.323 227.555c0 125.681 101.887 227.555 227.555 227.555 125.68 0 227.555-101.874 227.555-227.555C483.433 101.887 381.56 0 255.879 0 130.21 0 28.323 101.887 28.323 227.555" fill="#ffcc4d"></path>
    <g fill="#664500">
      <path d="M218.986 149.334c0 19.641-12.742 35.555-28.445 35.555s-28.445-15.915-28.445-35.555c0-19.626 12.743-35.555 28.445-35.555s28.445 15.927 28.445 35.555m150.67 14.221c0 19.641-12.729 35.555-28.445 35.555-15.701 0-28.445-15.915-28.445-35.555 0-19.626 12.743-35.555 28.445-35.555 15.716 0 28.445 15.929 28.445 35.555M137.421 90.069a13.047 13.047 0 0 1-5.561-5.66c-3.073-6.102-.569-13.184 5.589-15.829 60.672-26.026 109.497-.611 111.545.484 6.158 3.285 8.647 10.639 5.561 16.412-3.073 5.76-10.525 7.765-16.683 4.523-1.748-.91-40.277-20.367-89.287.668-3.654 1.55-7.779 1.208-11.164-.598m72.135 188.289c-1.934-1.807-3.356-4.168-3.925-6.913-1.407-6.67 2.816-12.885 9.458-13.853 65.309-9.642 105.984 27.435 107.705 29.014 5.12 4.75 5.617 12.473 1.166 17.28-4.438 4.779-12.16 4.808-17.266.085-1.479-1.309-33.735-29.98-86.5-22.201-3.939.584-7.835-.796-10.638-3.413"></path>
      <path d="M290.452 143.402a13.15 13.15 0 0 1-5.148-6.03c-2.66-6.286.327-13.198 6.641-15.417 62.307-21.845 109.297 6.826 111.275 8.064 5.902 3.697 7.879 11.192 4.422 16.753-3.44 5.547-11.036 7.04-16.938 3.385-1.706-1.038-38.799-23.053-89.132-5.405-3.752 1.31-7.848.684-11.12-1.35"></path>
    </g>
    <path d="M245.581 499.655s17.992-5.845 20.324-19.229c2.46-13.81-8.875-16.597-8.875-16.597s14.805-2.959 16.669-19.57c1.749-15.645-12.26-19.385-12.26-19.385s13.795-5.689 14.45-21.888c.54-13.639-14.151-20.309-14.151-20.309s71.65-17.35 79.005-19.057c7.338-1.721 18.787-8.761 15.217-24.106-3.541-15.36-17.124-15.9-24.149-14.265-7.026 1.65-95.915 22.286-126.577 29.426-3.272.754-18.603 4.295-20.467 4.75-7.68 1.806-11.165-1.579-5.76-7.281 7.24-7.623 11.848-16.058 13.47-30.051 1.692-14.734-3.3-32.91-6.16-39.95-5.318-13.1-14.293-23.453-24.66-27.008-16.186-5.546-27.677 4.565-21.932 22.201 8.59 26.383 2.973 48-11.848 61.057-34.83 30.677-51.043 52.55-40.248 99.17 11.761 50.846 62.251 83.57 113.095 71.795 2.688-.6 44.857-9.703 44.857-9.703"
      fill="#f4900c"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 506.934 506.934" id="006-vomito">
    <path d="M452.593 199.125c0 110-89.125 199.125-199.125 199.125S54.343 309.125 54.343 199.125 143.468 0 253.466 0c110.002 0 199.127 89.125 199.127 199.125" fill="#fdcb58"></path>
    <path d="M401.063 224.89c-1.375-1-22.625-16.75-54.375-27.5.375-1.375.5-2.75.5-4.125 0-4.375-1.625-8.25-4.25-11.25 21.125-6.125 39-6.25 39.375-6.25 6.5 0 11.75-5.25 11.625-11.75 0-6.5-5.25-11.75-11.75-11.75-2.625 0-63.875.5-102 38.625-3.375 3.375-4.375 8.375-2.5 12.75 1.75 4.375 6.125 7.25 10.75 7.25 53.75 0 98 32.5 98.375 32.75a11.543 11.543 0 0 0 7 2.375c3.625 0 7.125-1.625 9.375-4.625 4.123-5.375 2.998-12.625-2.126-16.5m-174.457-34.119c-38.125-38.125-99.375-38.625-102-38.625-6.5 0-11.75 5.25-11.75 11.75s5.25 11.75 11.625 11.75c.375 0 18.25.125 39.375 6.25-2.625 3-4.25 7-4.25 11.25 0 1.5.25 2.875.5 4.125-31.875 10.75-53.125 26.5-54.375 27.5-5.125 3.875-6.25 11.25-2.375 16.375 2.25 3.125 5.875 4.625 9.375 4.625 2.5 0 4.875-.75 7-2.375.5-.375 44.375-32.75 98.375-32.75 4.75 0 9-2.875 10.875-7.25 2-4.25 1-9.25-2.375-12.625m26.863 138.83c-34.75 0-57.75 4-86.25 9.625-6.5 1.25-19.125 0-19.125-19.125 0-38.375 44-86.25 105.375-86.25s105.375 47.875 105.375 86.25c0 19.125-12.626 20.375-19.126 19.125-28.5-5.5-51.5-9.625-86.25-9.625"
      fill="#664500"></path>
    <g fill="#78b159">
      <path d="M323.768 471.845c0 13-10.5 23.375-23.375 23.375s-23.375-10.5-23.375-23.375c0-13 10.5-23.375 23.375-23.375s23.375 10.375 23.375 23.375"></path>
      <path d="M183.167 474.042V304.417c0-23.375 35.125-46.875 70.25-46.875s70.25 23.375 70.25 46.875v167.875l-140.5 1.75z"></path>
      <path d="M395.718 478.434c0 15.75-63.625 28.5-142.25 28.5s-142.25-12.75-142.25-28.5 63.625-28.5 142.25-28.5 142.25 12.875 142.25 28.5"></path>
    </g>
    <path d="M241.817 298.625c0 9.75-7.875 17.625-17.625 17.625s-17.625-7.875-17.625-17.625S214.442 281 224.192 281s17.625 7.875 17.625 17.625m68.525 34.265c0 9.75-7.875 17.625-17.625 17.625s-17.625-7.875-17.625-17.625 7.875-17.625 17.625-17.625 17.625 8 17.625 17.625m-21.786 71.125c0 9.75-7.875 17.625-17.625 17.625s-17.625-7.875-17.625-17.625 7.875-17.625 17.625-17.625 17.625 8 17.625 17.625m-35.088 49.338c0 13.875-11.25 25.125-25.125 25.125s-25.125-11.25-25.125-25.125 11.25-25.125 25.125-25.125 25.125 11.25 25.125 25.125"
      fill="#5d9040"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="007-enojado-2">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#ffcc4d"></path>
    <path d="M362.454 424.946c-.64-2.546-16.611-62.279-106.454-62.279-89.856 0-105.828 59.734-106.454 62.28-.782 3.085.611 6.285 3.371 7.878 2.774 1.55 6.244 1.124 8.52-1.095.27-.27 27.79-26.396 94.563-26.396 66.759 0 94.294 26.126 94.549 26.396a7.179 7.179 0 0 0 5.006 2.047 7.178 7.178 0 0 0 3.499-.91c2.787-1.592 4.181-4.82 3.4-7.92M223.389 245.945c-46.294-46.294-120.69-46.834-123.833-46.834-7.851 0-14.207 6.358-14.207 14.208-.014 7.836 6.342 14.222 14.194 14.236.412 0 27.377.313 56.647 10.481-8.434 9.103-13.966 23.239-13.966 39.296 0 27.507 15.915 49.778 35.555 49.778s35.555-22.273 35.555-49.778c0-2.475-.27-4.835-.526-7.21.185 0 .355.1.526.1 3.641 0 7.281-1.394 10.055-4.168 5.56-5.56 5.56-14.548 0-20.109m189.056-46.834c-3.142 0-77.525.54-123.832 46.834a14.204 14.204 0 0 0 0 20.11 14.182 14.182 0 0 0 10.055 4.168c.185 0 .34-.1.512-.1-.227 2.375-.512 4.736-.512 7.21 0 27.507 15.915 49.778 35.555 49.778s35.555-22.272 35.555-49.777c0-16.058-5.533-30.194-13.967-39.296 29.269-10.17 56.235-10.482 56.662-10.482 7.836-.013 14.193-6.4 14.18-14.236-.014-7.851-6.358-14.209-14.208-14.209"
      fill="#664500"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="008-llanto-1">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#ffcc4d"></path>
    <path d="M199.111 241.778c0 27.506-15.915 49.777-35.555 49.777S128 269.284 128 241.777c0-27.49 15.915-49.777 35.555-49.777s35.556 22.286 35.556 49.778m201.139 0c0 27.506-15.915 49.777-35.555 49.777s-35.555-22.273-35.555-49.778c0-27.49 15.915-49.777 35.555-49.777s35.555 22.286 35.555 49.778M85.319 192c-2.959 0-5.959-.925-8.519-2.845-6.286-4.707-7.553-13.625-2.845-19.911 46.392-61.866 108.316-62.578 110.934-62.578 7.851 0 14.222 6.372 14.222 14.223 0 7.836-6.328 14.194-14.165 14.222-2.205.029-50.758 1.223-88.235 51.2A14.216 14.216 0 0 1 85.32 192m341.346 0c-4.337 0-8.605-1.963-11.392-5.689-37.546-50.076-86.201-51.186-88.263-51.2-7.822-.085-14.137-6.485-14.093-14.294.042-7.836 6.357-14.15 14.18-14.15 2.617 0 64.526.71 110.933 62.577 4.722 6.286 3.442 15.203-2.845 19.911a14.141 14.141 0 0 1-8.52 2.845m-92.657 211.612c-.172-.626-16.299-62.278-78.009-62.278-61.739 0-77.866 61.653-78.009 62.278-.754 3.03.611 6.13 3.285 7.738 2.674 1.592 6.159 1.222 8.476-.854.143-.1 14.422-12.274 66.248-12.274 51.044 0 65.664 11.805 66.219 12.274a7.116 7.116 0 0 0 4.892 1.949 7.178 7.178 0 0 0 3.499-.91c2.787-1.594 4.181-4.823 3.399-7.923"
      fill="#664500"></path>
    <path d="M227.555 440.889c0 39.281-31.829 71.111-71.111 71.111s-71.111-31.829-71.111-71.111 56.888-142.223 71.11-142.223 71.112 102.942 71.112 142.223" fill="#5dadec"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="009-enojado-3">
    <path d="M512 256c0 141.382-114.618 256-256 256S0 397.382 0 256 114.618 0 256 0s256 114.618 256 256" fill="#ffcc4d"></path>
    <path d="M284.445 184.889c-.782 0-1.55-.058-2.346-.199-7.751-1.294-12.985-8.619-11.691-16.37 5.588-33.621 36.55-97.209 113.578-97.209 7.865 0 14.223 6.372 14.223 14.223s-6.358 14.222-14.223 14.222c-72.462 0-85.035 70.458-85.532 73.458-1.153 6.94-7.183 11.875-14.009 11.875m-56.904 0c-6.812 0-12.829-4.906-14.009-11.848-.512-3.001-13.582-73.486-85.532-73.486-7.851 0-14.223-6.371-14.223-14.222S120.15 71.11 128 71.11c77.028 0 107.975 63.588 113.579 97.209 1.294 7.751-3.94 15.075-11.676 16.37-.797.144-1.594.2-2.362.2m-65.266 69.546c-33.209 0-55.04-14.18-56.378-15.075-6.542-4.353-8.306-13.184-3.953-19.726 4.352-6.543 13.183-8.32 19.726-3.94 1.407.91 37.006 23.267 85.305-.896 7.04-3.513 15.574-.654 19.086 6.37 3.513 7.027.669 15.56-6.357 19.073-21.246 10.625-40.774 14.194-57.429 14.194m187.464 0c-16.669 0-36.195-3.57-57.429-14.194-7.026-3.512-9.87-12.046-6.357-19.072 3.527-7.04 12.046-9.885 19.072-6.371 48.37 24.177 83.911 1.792 85.39.838 6.542-4.238 15.374-2.417 19.655 4.11 4.295 6.528 2.546 15.275-3.954 19.613-1.351.897-23.182 15.076-56.377 15.076M369.778 384c-4.338 0-8.605-1.963-11.393-5.689-.355-.484-39.566-51.2-102.4-51.2s-102.03 50.716-102.429 51.229c-4.736 6.229-13.667 7.481-19.911 2.774-6.257-4.721-7.524-13.596-2.816-19.869 1.92-2.546 47.815-62.578 125.155-62.578 77.326 0 123.235 60.033 125.155 62.578 4.721 6.286 3.441 15.204-2.845 19.911a14.13 14.13 0 0 1-8.516 2.844"
      fill="#664500"></path>
    <path d="M218.894 285.582c-6.443-2.773-13.924-.383-17.621 5.547L130.16 404.906a14.198 14.198 0 0 0-.384 14.421 14.215 14.215 0 0 0 12.446 7.34h42.666a14.223 14.223 0 0 0 13.795-10.78l28.445-113.778c1.692-6.77-1.791-13.796-8.235-16.526m162.946 119.323L310.728 291.13c-3.727-5.945-11.193-8.307-17.608-5.547-6.442 2.745-9.941 9.757-8.235 16.527l28.445 113.777a14.193 14.193 0 0 0 13.781 10.78h42.666a14.23 14.23 0 0 0 12.445-7.325 14.226 14.226 0 0 0-.383-14.435"
      fill="#f5f8fa"></path>
    <path d="M454.855 429.199c.043-.854.256-1.664.256-2.532 0-23.552-19.115-42.666-42.666-42.666-14.62 0-27.477 7.368-35.171 18.56-6.699-2.759-14.024-4.337-21.718-4.337-31.417 0-56.888 25.472-56.888 56.889S324.14 512 355.556 512c19.414 0 36.523-9.756 46.792-24.618C409.16 501.889 423.78 512 440.89 512c23.566 0 42.666-19.1 42.666-42.666-.001-18.648-12.032-34.334-28.701-40.136m-298.41-30.976c-7.709 0-15.019 1.565-21.717 4.338-7.694-11.193-20.566-18.56-35.172-18.56-23.552 0-42.666 19.115-42.666 42.666 0 .868.199 1.679.256 2.531-16.669 5.803-28.7 21.475-28.7 40.135 0 23.567 19.1 42.667 42.666 42.667 17.095 0 31.73-10.113 38.528-24.619 10.282 14.847 27.377 24.619 46.805 24.619 31.418 0 56.889-25.473 56.889-56.889s-25.473-56.888-56.889-56.888"
      fill="#e1e8ed"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="010-conmocionado">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#ffcc4d"></path>
    <path d="M327.111 384c0 47.133-31.828 85.334-71.111 85.334S184.889 431.133 184.889 384c0-47.119 31.829-85.334 71.111-85.334s71.111 38.215 71.111 85.334M85.319 156.445c-2.959 0-5.959-.925-8.519-2.845-6.286-4.707-7.553-13.625-2.845-19.911C120.347 71.823 182.271 71.11 184.889 71.11c7.851 0 14.222 6.371 14.222 14.223 0 7.836-6.328 14.193-14.165 14.222-2.205.029-50.758 1.223-88.235 51.2a14.22 14.22 0 0 1-11.392 5.689m341.347.001c-4.337 0-8.605-1.963-11.392-5.689-37.546-50.076-86.201-51.186-88.263-51.2-7.822-.085-14.137-6.485-14.093-14.294.042-7.836 6.357-14.15 14.18-14.15 2.617 0 64.526.71 110.933 62.577 4.722 6.286 3.442 15.203-2.845 19.911a14.141 14.141 0 0 1-8.52 2.845m-228.779 64l25.5-25.5a14.204 14.204 0 0 0 0-20.11c-5.56-5.561-14.548-5.561-20.11 0l-25.5 25.5-25.5-25.5c-5.56-5.561-14.548-5.561-20.11 0-5.56 5.561-5.56 14.549 0 20.11l25.5 25.5-25.5 25.5c-5.56 5.561-5.56 14.549 0 20.11 2.774 2.774 6.414 4.168 10.055 4.168s7.282-1.394 10.055-4.168l25.5-25.5 25.5 25.5a14.182 14.182 0 0 0 10.055 4.168c3.642 0 7.282-1.394 10.055-4.168a14.204 14.204 0 0 0 0-20.11l-25.5-25.5zm156.445 0l25.5-25.5a14.204 14.204 0 0 0 0-20.11c-5.56-5.561-14.563-5.561-20.11 0l-25.5 25.5-25.5-25.5c-5.56-5.561-14.563-5.561-20.11 0-5.56 5.561-5.56 14.549 0 20.11l25.5 25.5-25.5 25.5c-5.56 5.561-5.56 14.549 0 20.11a14.182 14.182 0 0 0 10.055 4.168c3.642 0 7.282-1.394 10.055-4.168l25.5-25.5 25.5 25.5a14.182 14.182 0 0 0 10.055 4.168c3.642 0 7.282-1.394 10.055-4.168a14.204 14.204 0 0 0 0-20.11l-25.5-25.5z"
      fill="#664500"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="011-enfermo">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#ffcc4d"></path>
    <path d="M435.2 244.623c-1.621-1.21-27.462-20.282-66.076-33.338.384-1.635.654-3.314.654-5.063 0-5.247-1.963-9.998-5.107-13.71 25.643-7.41 47.418-7.622 47.802-7.622 7.836-.029 14.193-6.4 14.18-14.251-.014-7.837-6.358-14.194-14.208-14.194-3.129 0-77.525.526-123.832 46.834a14.19 14.19 0 0 0-3.073 15.502 14.21 14.21 0 0 0 13.128 8.775c65.28 0 118.955 39.424 119.495 39.836a14.246 14.246 0 0 0 8.49 2.817 14.22 14.22 0 0 0 11.407-5.703c4.692-6.287 3.412-15.176-2.86-19.883m-211.811-41.344c-46.294-46.294-120.69-46.834-123.833-46.834-7.851 0-14.207 6.357-14.207 14.207-.014 7.837 6.342 14.223 14.194 14.237.37 0 22.158.227 47.786 7.622-3.129 3.713-5.106 8.463-5.106 13.71 0 1.749.27 3.428.668 5.063C104.264 224.34 78.423 243.41 76.8 244.62c-6.286 4.708-7.552 13.625-2.845 19.912 2.788 3.726 7.069 5.688 11.393 5.688 2.958 0 5.958-.925 8.518-2.845.527-.398 53.86-39.822 119.466-39.822 5.747 0 10.938-3.47 13.142-8.775a14.216 14.216 0 0 0-3.085-15.5m4.166 209.167c28.445-71.111 184.889-71.111 184.889-42.666.001 14.221-113.778-14.224-184.889 42.666"
      fill="#664500"></path>
    <path d="M261.774 256.469c38.087 38.059-56.519 220.786-74.666 238.933-14.934 14.934-59.734 14.934-74.667-14.933-14.933-29.866-59.733 0-74.666-14.934-29.866-29.866 14.934-44.8 0-74.666s-44.8-44.8-14.934-74.666 104.534-14.934 149.334-44.8 74.651-29.867 89.599-14.934"
      fill="#ccd6dd"></path>
    <path d="M246.358 282.595c-.228-.881-.754-1.607-1.124-2.417-.426-.94-.725-1.92-1.338-2.76-2.29-3.086-5.76-5.318-9.87-5.902h-.014a15.167 15.167 0 0 0-5.773.313c-1.28.327-2.404 1.024-3.541 1.664-.54.298-1.153.426-1.65.796a14.98 14.98 0 0 0-3.954 4.337C177.366 348.172 77.696 391.607 76.686 392.05c-7.566 3.257-11.065 12.032-7.822 19.612 2.432 5.66 7.936 9.045 13.725 9.045a14.78 14.78 0 0 0 5.874-1.209c3.186-1.365 57.685-25.187 105.613-67.028-29.411 54.4-74.382 85.276-75.007 85.689-6.841 4.593-8.675 13.852-4.096 20.707a14.93 14.93 0 0 0 12.43 6.641 14.89 14.89 0 0 0 8.262-2.517c3.883-2.589 95.318-64.698 111.019-174.549a14.937 14.937 0 0 0-.326-5.845"
      fill="#f5f8fa"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="012-conmocionado-1">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#ffcc4d"></path>
    <path d="M199.111 234.666c0 27.506-15.915 49.778-35.555 49.778S128 262.172 128 234.666c0-27.491 15.915-49.777 35.555-49.777s35.556 22.286 35.556 49.777m201.139 0c0 27.506-15.915 49.778-35.555 49.778s-35.555-22.273-35.555-49.778c0-27.491 15.915-49.777 35.555-49.777s35.555 22.286 35.555 49.777m-44.695 135.112h-199.11c-7.851 0-14.223-6.358-14.223-14.223 0-7.865 6.372-14.223 14.223-14.223h199.111c7.865 0 14.223 6.358 14.223 14.223-.001 7.865-6.359 14.222-14.224 14.222"
      fill="#664500"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="013-emoji">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#ffcc4d"></path>
    <path d="M362.454 396.501c-.64-2.546-16.611-62.278-106.454-62.278-89.856 0-105.828 59.733-106.454 62.278-.782 3.087.611 6.287 3.371 7.879 2.774 1.579 6.244 1.109 8.52-1.095.27-.27 27.79-26.396 94.563-26.396 66.759 0 94.294 26.126 94.549 26.396a7.179 7.179 0 0 0 5.006 2.047 7.178 7.178 0 0 0 3.499-.91c2.787-1.592 4.181-4.82 3.4-7.92m49.991-197.391c-4.337 0-8.605-1.962-11.392-5.688-34.574-46.138-92.63-12.033-95.075-10.568-6.755 4.054-15.488 1.849-19.513-4.864-4.054-6.741-1.862-15.474 4.864-19.512 28.416-17.053 92.644-35.229 132.48 17.877 4.721 6.287 3.441 15.204-2.845 19.912a14.144 14.144 0 0 1-8.519 2.843m-312.904 0c-2.959 0-5.959-.925-8.519-2.845-6.286-4.707-7.552-13.625-2.845-19.911 39.837-53.12 104.08-34.93 132.48-17.877 6.728 4.038 8.918 12.77 4.864 19.512-4.025 6.727-12.742 8.931-19.485 4.879-2.531-1.508-60.786-35.2-95.103 10.552a14.21 14.21 0 0 1-11.392 5.69m312.904 28.444c0-7.851-6.357-14.223-14.222-14.223h-99.555c-7.865 0-14.223 6.372-14.223 14.223s6.357 14.223 14.223 14.223h72.42C374.03 250.04 381.84 256 391.113 256c11.776 0 21.333-9.543 21.333-21.334 0-1.565-.199-3.086-.512-4.565.169-.853.511-1.65.511-2.546m-184.89 0c0-7.851-6.371-14.223-14.223-14.223h-99.554c-7.852 0-14.223 6.372-14.223 14.223s6.371 14.223 14.223 14.223h72.42C189.14 250.04 196.95 256 206.223 256c11.776 0 21.333-9.543 21.333-21.334 0-1.565-.198-3.086-.512-4.565.156-.853.511-1.65.511-2.546"
      fill="#664500"></path>
  </symbol>
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="014-emoji-1">
    <path d="M512 256c0 141.382-114.618 256-256 256C114.631 512 0 397.382 0 256 0 114.631 114.631 0 256 0c141.382 0 256 114.631 256 256" fill="#ffcc4d"></path>
    <path d="M199.111 234.666c0 27.506-15.915 49.778-35.555 49.778S128 262.172 128 234.666c0-27.491 15.915-49.777 35.555-49.777s35.556 22.286 35.556 49.777m201.139 0c0 27.506-15.915 49.778-35.555 49.778s-35.555-22.273-35.555-49.778c0-27.491 15.915-49.777 35.555-49.777s35.555 22.286 35.555 49.777m-66.241 161.835c-.172-.626-16.299-62.278-78.009-62.278-61.725 0-77.853 61.653-78.009 62.278-.754 3.029.626 6.13 3.3 7.738 2.66 1.592 6.159 1.222 8.476-.854.143-.1 14.422-12.274 66.233-12.274 51.044 0 65.664 11.805 66.219 12.274a7.116 7.116 0 0 0 4.892 1.949 7.178 7.178 0 0 0 3.499-.91c2.787-1.594 4.181-4.823 3.399-7.923"
      fill="#664500"></path>
    <path d="M142.222 426.666c0 39.282-31.828 71.112-71.11 71.112S0 465.948 0 426.666s56.889-142.222 71.111-142.222 71.111 102.941 71.111 142.222" fill="#5dadec"></path>
    <path d="M256 156.445c124.43 0 228.025 64.127 251.107 149.106 3.158-16.042 4.893-32.597 4.893-49.55C512 114.631 397.382 0 256 0 114.631 0 0 114.631 0 256c0 16.953 1.749 33.508 4.892 49.55C27.975 220.573 131.584 156.445 256 156.445" fill="#bdddf4"></path>
    <path d="M426.666 170.666c-78.99 0-110.961-62.109-112.285-64.754-3.512-7.026-.653-15.573 6.372-19.086 6.997-3.499 15.53-.669 19.057 6.315 1.052 2.063 25.885 49.081 86.855 49.081 7.865 0 14.222 6.372 14.222 14.223s-6.356 14.221-14.22 14.221m-341.333 0c-7.852 0-14.223-6.371-14.223-14.222s6.371-14.223 14.223-14.223c72.291 0 85.276-44.374 85.802-46.265 2.063-7.509 9.814-12.06 17.338-10.084 7.537 1.978 12.102 9.572 10.211 17.138-.698 2.761-18.006 67.656-113.351 67.656"
      fill="#664500"></path>
  </symbol>
</svg>