<div class="container-fluid resultado">
  <div class="row">
    <div class="col-md-12">
      <formulario ng-if="vm.showFormulario" encuesta="vm.encuesta"></formulario>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div id="resultados">
        <h2 ng-show='!vm.general'>Resultados <b><i>individuales</i></b><br> por categoría</h2>
        <h2 ng-show='vm.general'>Resultados <b><i>generales</i></b><br> por categoría</h2>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 chart">
      <div id="bar" style="width: 100%; min-height:250px;"></div>
    </div>
  </div>
  
  <div class="row" ng-show="vm.resultIndiv">
    <div class="text-center switch-mode">
      <div class="btn-group">
        <button type="button" class="btn btn-tipo-resultados">
          <img class="message-tail-info" src="assets/images/message-tail-info-bottom-left.svg">
          <span ng-show='!vm.general' ng-click="vm.goToResulGen()">Ver resultados <b><i>generales</i></b></span>
          <span ng-show='vm.general && vm.resultIndiv !== null' ng-click="vm.goToResulInd()">Ver resultados <b><i>individuales</i></b></span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center bg-sabias-que">
      <div class="btn-group">
        <button type="button" class="btn btn-sabias-que" scroll-to="#sabias-que">
          <img class="icon-star" src="assets/images/icon-star.svg">
          ¿Sabías que?
          <img class="message-tail-danger" src="assets/images/message-tail-danger-bottom-right.svg">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" id="sabias-que">
    <div class="col-md-12 col-sm-12">
      <h3 class="text-center">Información legal</h3>

      <div class="well well-default">
        <b>
          La ley 5777/16 Protección Integral a las Mujeres contra toda forma de violencia, cuenta con un apartado
          legal en el artículo 6. inc L que reconoce el Acoso en Internet como forma de violencia.
        </b>
        <p>
          “Violencia telemática: Es la acción por medio de la cual difunden o publican mensajes, fotografías, audios, videos u
          otros que afecten la dignidad o intimidad de las mujeres a través de las actuales tecnologías de información y
          comunicación, incluido el uso de estos medios para promover la cosificación, sumisión o explotación de la mujer”
        </p>
      </div>

      <uib-accordion close-others="true">
        <div uib-accordion-group
          id="vigilancia"
          heading="Vigilancia"
          is-open="vm.openAccordion.vigilancia"
          class="panel-danger">
          <div ng-include="'accordion-vigilancia.html'"></div>
        </div>
        <div uib-accordion-group
          id="discurso-de-odio"
          heading="Discurso de odio"
          is-open="vm.openAccordion.discurso_de_odio"
          class="panel-warning">
          <div ng-include="'accordion-discurso-de-odio.html'"></div>
        </div>
        <div uib-accordion-group
          id="acoso"
          heading="Acoso"
          is-open="vm.openAccordion.acoso"
          class="panel-success">
          <div ng-include="'accordion-acoso.html'"></div>
        </div>
      </uib-accordion>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h3 class="text-center">Organizaciones e iniciativas de Sociedad Civil</h3>

      <uib-accordion close-others="true">
        <div uib-accordion-group
          id="plataformas"
          heading="Plataformas"
          is-open="vm.openAccordion.plataformas"
          class="panel-default">
          <div ng-include="'accordion-plataformas.html'"></div>
        </div>
        <div uib-accordion-group
          id="organizaciones"
          heading="Organizaciones"
          is-open="vm.openAccordion.organizaciones"
          class="panel-default">
          <div ng-include="'accordion-organizaciones.html'"></div>
        </div>
        <div uib-accordion-group
          id="iniciativas-estatales"
          heading="Iniciativas estatales"
          is-open="vm.openAccordion.iniciativas_estatales"
          class="panel-default">
          <div ng-include="'accordion-iniciativas-estatales.html'"></div>
        </div>
      </uib-accordion>
    </div>
  </div>
</div>