<p><b>Actos repetidos y no solicitados contra una persona u organización que son percibidos como intrusivos o
    amenazadores.</b></p>
<p><u>Ciberbullying, cibercacoso, ciberagresión:</u> Es el uso de medios de comunicación digitales para acosar a una
    persona o grupo de personas, mediante ataques personales, divulgación de información confidencial o falsa. Es decir,
    todo aquello que se realice a través de los dispositivos electrónicos de comunicación con el fin intencionado de
    dañar o agredir a una persona o a un grupo. </p>
<p><u>Acoso sexual:</u> Envío y recepción de material sexual no solicitado</p>
<p><u>Extorsión:</u> Forzar a una persona a actuar de acuerdo a la voluntad de otra persona, a través de amenazas e
    intimidación. Puede ser económica o de otra índole.</p>
<p><u>Mobbing o acoso laboral:</u> Esta persona o grupo de personas reciben una violencia psicológica injustificada a
    través de actos negativos y hostiles dentro o fuera del trabajo por parte de grupos sociales externos, de sus
    compañeros ("acoso horizontal", entre iguales), de sus subalternos (en sentido vertical ascendente) o de sus
    superiores (en sentido vertical descendente, también llamado bossing, del inglés boss, jefe).</p>
<p><u>Ataques coordinados:</u> Son aquellos ataques que se realizan de manera coordinada y por más de una persona hacia
    otra, una publicación específica o una página en las redes. Los fines de estos ataques pueden ser varios: difusión
    de datos personales para causar hostigamiento y acoso, o incluso lograr la eliminación de los perfiles de las
    víctimas. Suelen crearse identidades falsas para así poder esparcir publicaciones y noticias falsas.</p>
<p><u>Generación de información falsa (Creación de perfiles, manipulación de imágenes, videos u otra información):</u>
    se suele utilizar para ciberacoso o ataques coordinados</p>
<p><u>Diseminación de información privada:</u> es un medio que termina en ciberacoso, mobying, o ataques coordinados</p>


<uib-accordion close-others="false">
    <div uib-accordion-group
        heading="¿Alguna vez te han escrito, enviado audios, o vídeos con los que te sentiste atacadx o insegurx?"
        ng-class="vm.getPreguntaClass(1, 'panel-success')">
        <p>Si en los soportes de audio, fotografía o videos te encuentras expuesta sin tu consentimiento, debes conocer que:</p>
        <p>La Cesión de imagen es un derecho a la personalidad y se encuentra expresamente protegido en nuestra Constitución Nacional en el artículo 33 sobre el Derecho a la Intimidad, que incluye la dignidad y de la imagen privada de las personas. </p>
        <p>El Código Penal Paraguayo sanciona con pena de multa esta conducta, siempre y cuando no hubiera habido consentimiento por parte de la persona afectada, el mismo se encuentra en su artículo 143: Lesión de la intimidad de la persona.</p>
        <p>En el caso tu misma hayas tomado la fotografía, audio u video, debes saber que toda obra que sea guardada en un soporte (memoria del teléfono, disco duro, CD etc) está protegida por derecho de autor. La ley N° 1.328/1998 de derecho de autor y derecho conexo, en su artículo 6, estipula que el autor es el titular originario de los derechos exclusivos sobre la obra, de orden moral y patrimonial. </p>
        <p>El Código Penal Paraguayo sanciona esta conducta en su artículo 184 “De la violación del derecho de autor o inventor”, eso quiere decir que si un tercero divulga, promociona o reproduce públicamente una obra de un autor sin su consentimiento, esta conducta será sancionada con pena privativa de libertad de hasta tres años o con multa.</p>
        <p>También en el mismo Código Penal se sanciona en su capítulo VIII de Hechos punibles contra el honor y la reputación, todo lo referente a Calumnias, difamación e injurias.</p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada. </p>
    </div>

    <div uib-accordion-group
        heading="¿Tu pareja o alguien conocidx, compañerxs del trabajo o de la facultad compartieron cosas íntimas tuyas o de alguien más sin permiso? ¿o te pidieron algo a cambio para evitar que se publique tu información?"
        ng-class="vm.getPreguntaClass(2, 'panel-success')">
        <p>Si en los soportes de audio, fotografía o videos te encuentras expuesta sin tu consentimiento, debes conocer que:</p>
        <p>La Cesión de imagen es un derecho a la personalidad y se encuentra descripto en nuestra Constitución Nacional en el artículo 33 sobre el Derecho a la Intimidad, que incluye la dignidad y de la imagen privada de las personas. </p>
        <p>El Código Penal Paraguayo sanciona con pena de multa esta conducta, siempre y cuando no hubiera habido consentimiento por parte de la persona afectada, el mismo se encuentra en su artículo 143: Lesión de la intimidad de la persona.</p>
        <p>En el caso tu mismo/a hayas tomado la fotografía, audio u video, debes saber que toda obra que sea guardada en un soporte (memoria del teléfono, disco duro, CD etc) está protegida por derecho de autor. La ley N° 1.328/1998 de derecho de autor y derecho conexo, en su artículo 6, estipula que el autor es el titular originario de los derechos exclusivos sobre la obra, de orden moral y patrimonial. En el caso de violación del derecho de autor, el Código Penal sanciona esta conducta en su artículo 184 “De la violación del derecho de autor o inventor”, eso quiere decir que si un tercero divulga, promociona o reproduce públicamente tu obra sin tu consentimiento, esta conducta será sancionada con pena privativa de libertad de hasta tres años o con multa.</p>
        <p>Por otro lado se encuentran las acciones legales del capítulo VIII de Hechos punibles contra el honor y la reputación del código penal que se referente a calumnias, difamación e injurias.</p>
        <p>Para los caso que te hayas sentido forzado/a por otra persona a realizar un acto contra tu voluntad a través de amenazas o intimidación para evitar que tu información sea compartida por otros, el Código Penal sanciona este tipo de conducta en su artículo 185 denominado Extorsión. </p>
        <p>También se encuentra la opción de la instancia del fuero Civil para que realices una acción de indemnización por daños y perjuicios, esta demanda se encuentra enmarcado en el artículo 1835 del Código Civil paraguayo. Esto se aplica a los casos que existieron daño causado en perjuicio a tu persona, en tus derechos o facultades o a tus cosas de dominio o posesión.</p>
        <p>Todas estas acciones dependerán de la instancia de la víctima, es decir de vos y no de la fiscalía o policía y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada. </p>
    </div>

    <div uib-accordion-group
        heading="¿Alguna vez tu pareja te ha solicitado alguna contraseña tuya para tener acceso a tus dispositivos o cuentas?"
        ng-class="vm.getPreguntaClass(5, 'panel-success')">
        <p>El derecho a la intimidad se encuentra expresamente en nuestra Constitución Nacional en su artículo 33, además de ser consagrado como un derecho humano por la Declaración Universal de los Derechos Humanos en su artículo 12 y por el Pacto Internacional de los derechos civiles y políticos en su artículo 17. El derecho a la vida privada es el derecho que tenés a decidir y controlar cuándo y quién accede a diferentes aspectos de tu vida particular. Es tu potestad de excluir a terceros el conocimiento de tu vida privada, es decir, sentimientos, comportamientos e información sensible y que no sea considerado interés público.</p>
        <p>En el caso que te hayas sentido presionado/a por otra persona, mediante violencia ilegítima a adoptar un determinado comportamiento en Internet en contra de tu voluntad o a impedirte con violencia a realizar un acto en Internet que la ley no prohíbe. El Código penal paraguayo sanciona en su artículo 120 todo tipo de coacción y el artículo 121 de coacción grave, que ponga en peligro tu vida o integridad física. </p>
        <p>Si alguna vez te amenazaron de un hecho punible que afecta a tu vida en Internet o integridad física u otra cosa de valor considerable, el Código Penal prevé en su artículo 122 de Amenaza, una sanción a este tipo de conducta con pena privativa de libertad de hasta un año o con multa.</p>
        <p>Si tenés prueba que una persona escucha, graba, almacena o comparte con otras personas el acceso de tus comunicaciones en Internet e imágenes sin tu consentimiento en cualquier soporte digital o impreso. El artículo 144 sobre “Lesión del derecho a la comunicación y a la imagen” del Código Penal paraguayo sanciona esta conducta con el castigo es con pena privativa de libertad de hasta dos años o con multa. </p>
        <p>Y si conocés a la persona que accedió a tus datos digitales o a tus sistemas informáticos sin tu consentimiento, el Código Penal tipifica estos hechos antijurídicos, denominados delitos informáticos que son artículo 146 b.- Acceso indebido a datos y artículo 174 b.-Acceso indebido a sistemas; ambos se refieren a acceso indebidos de bienes tecnológicos e identidades (datos personales) sin tu consentimiento. Estas conductas sancionan con pena privativa de libertad de hasta tres años o multa.</p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada. </p>
    </div>

    <div uib-accordion-group
        heading="¿Alguna vez te han pedido una foto o prueba sobre lo que estás haciendo o donde estás? Por ejemplo, te has ido a comprar algo a la despensa y tu pareja te pide que le envíes una selfie para 'ver lo bonitx que estás', o no te cree que te quedaste durmiendo en tu casa durante la noche."
        ng-class="vm.getPreguntaClass(6, 'panel-success')">
        <p>El derecho a la intimidad se encuentra expresamente en nuestra Constitución Nacional en su artículo 33, además de ser consagrado como un derecho humano por la Declaración Universal de los Derechos Humanos en su artículo 12 y por el Pacto Internacional de los derechos civiles y políticos en su artículo 17. El derecho a la vida privada es el derecho que tenés a decidir y controlar cuándo y quién accede a diferentes aspectos de tu vida particular. Es tu potestad de excluir a terceros el conocimiento de tu vida privada, es decir, sentimientos, comportamientos e información sensible y que no sea considerado interés público.</p>
        <p>En el caso que te hayas sentido presionado/a por otra persona, mediante violencia ilegítima a adoptar un determinado comportamiento en Internet en contra de tu voluntad o a impedirte con violencia a realizar un acto en Internet que la ley no prohíbe. El Código penal paraguayo sanciona en su artículo 120 todo tipo de coacción y el artículo 121 de coacción grave, que ponga en peligro tu vida o integridad física. </p>
        <p>Si alguna vez te amenazaron de un hecho punible que afecta a tu vida en Internet o integridad física u otra cosa de valor considerable, el Código Penal prevé en su artículo 122 de Amenaza, una sanción a este tipo de conducta con pena privativa de libertad de hasta un año o con multa.</p>
        <p>Para los caso que te hayas sentido forzado/a por otra persona a realizar un acto contra tu voluntad a través de amenazas o intimidación para evitar que tu información sea compartida por otros, el Código Penal sanciona este tipo de conducta en su artículo 185 denominado Extorsión. </p>
        <p>El artículo 144 sobre “Lesión del derecho a la comunicación y a la imagen” del Código Penal paraguayo sanciona esta conducta siempre y cuando escuchara, grabara o almacenara o facilitara a terceros el acceso a la comunicación e imagen sin consentimiento. El castigo es con pena privativa de libertad de hasta dos años o con multa. </p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada.</p>
    </div>

    <div uib-accordion-group
        heading="¿Te has buscado en las redes y has encontrado a otra persona con tu misma identidad, tus mismas fotos, hasta una selfie con tu mascota o tu pareja?"
        ng-class="vm.getPreguntaClass(7, 'panel-success')">
        <p>La usurpación de identidad no se encuentra actualmente sancionado en el Código Penal paraguayo. Sin embargo se encuentra en su capítulo VIII de Hechos punibles contra el honor y la reputación, todo lo referente a calumnias, difamación e injurias.</p>
        <p>También se encuentra la instancia Civil para la indemnización por daños y perjuicios que se enmarcar en el artículo 1835 del Código Civil paraguayo. Esto se aplica a los casos que existieron daño causado en perjuicio a otra persona, en sus derechos o facultades o cosas de dominio o posesión.</p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada. </p>
    </div>

    <div uib-accordion-group
        heading="¿Se llegó a divulgar información manipulada o falsa sobre tu persona en las redes, como fotos, mensajes de texto, etc?"
        ng-class="vm.getPreguntaClass(8, 'panel-success')">
        <p>El artículo 144 sobre “Lesión del derecho a la comunicación y a la imagen” del Código Penal paraguayo sanciona esta conducta siempre y cuando escuchara, grabara o almacenara o facilitara a terceros el acceso a la comunicación e imagen sin consentimiento. El castigo es con pena privativa de libertad de hasta dos años o con multa. </p>
        <p>También el Código Penal Paraguayo sanciona en su capítulo VIII de Hechos punibles contra el honor y la reputación, todo lo referente a Calumnias, difamación e injurias.</p>
        <p>También se encuentra la instancia Civil para la indemnización por daños y perjuicios que se enmarcar en el artículo 1835 del Código Civil paraguayo. Esto se aplica a los casos que existieron daño causado en perjuicio a otra persona, en sus derechos o facultades o cosas de dominio o posesión.</p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada. </p>
    </div>

    <div uib-accordion-group
        heading="¿Algún compañerx de trabajo, jefe, profesor o pariente, te manda textos, vídeos o audios con mensajes 'subidos de tono'? Por ejemplo: 'Qué linda pollera andás hoy', 'Mirá cómo te queda esa blusa'. Comentarios de ese estilo."
        ng-class="vm.getPreguntaClass(9, 'panel-success')">
        <p>En casos que se incurran en tu lugar de trabajo, el artículo 133 del Código Penal paraguayo estipula la tipificación “Acoso sexual” que se aplica para los casos de hostigación a otra persona en situación de dependencia, abuso de autoridad o influencia que le confieren sus funciones. Se prevée pena privativa de libertad de hasta dos años.</p>
        <p>Esta acción legal dependerá de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada. </p>
    </div>
</uib-accordion>