<p><b>Discurso que refleja modelos culturales que incitan violencia, ya sea a través de
    comentarios, insultos, o agresiones verbales.</b></p>
<p><u>Amenazas:</u> Discurso y contenido (verbal o escrito, en imágenes, etc) con un tono agresivo y/o amenazador.
    Amenazas directas de violencia de cualquier índole.</p>
<p><u>Robo de identidad:</u> es un medio para la extorsión o el ciberbullying </p>


<uib-accordion close-others="false">
    <div uib-accordion-group
        heading="¿Alguna vez te has abstenido de publicar algo en tus redes por miedo a que te amenacen, te intimiden o te hagan sentir simplemente mal por tu forma de pensar?"
        ng-class="vm.getPreguntaClass(3, 'panel-warning')">
        <p>El derecho a la libertad de expresión se encuentra en nuestra Constitución Nacional en su artículo 26, además de consagrado como derechos humanos en el artículo 19 de la Declaración de los Derechos Humanos y del Pacto Internacional de los Derechos Civiles y Políticos , por el cual tiene como fin la protección de la persona para expresar y articular sus opiniones e ideas sin temor a represalias, censura o sanción. La autocensura es una forma de limitar el ejercicio pleno del derecho a la libertad de expresión.</p>
        <p>Si alguna vez te amenazaron de un hecho punible que afecta a tu vida en Internet o integridad física u otra cosa de valor considerable, el Código Penal prevé en su artículo 122 de Amenaza, una sanción a este tipo de conducta con pena privativa de libertad de hasta un año o con multa.</p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada.</p>
    </div>

    <div uib-accordion-group
        heading="¿Se llegó a divulgar información manipulada o falsa sobre tu persona en las redes, como fotos, mensajes de texto, etc?"
        ng-class="vm.getPreguntaClass(8, 'panel-warning')">
        <p>El artículo 144 sobre “Lesión del derecho a la comunicación y a la imagen” del Código Penal paraguayo sanciona esta conducta siempre y cuando escuchara, grabara o almacenara o facilitara a terceros el acceso a la comunicación e imagen sin consentimiento. El castigo es con pena privativa de libertad de hasta dos años o con multa. </p>
        <p>También el Código Penal Paraguayo sanciona en su capítulo VIII de Hechos punibles contra el honor y la reputación, todo lo referente a Calumnias, difamación e injurias.</p>
        <p>También se encuentra la instancia Civil para la indemnización por daños y perjuicios que se enmarcar en el artículo 1835 del Código Civil paraguayo. Esto se aplica a los casos que existieron daño causado en perjuicio a otra persona, en sus derechos o facultades o cosas de dominio o posesión.</p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada.</p>
    </div>

    <div uib-accordion-group
        heading="¿Algún compañerx de trabajo, jefe, profesor o pariente, te manda textos, vídeos o audios con mensajes 'subidos de tono'? Por ejemplo: 'Qué linda pollera andás hoy', 'Mirá cómo te queda esa blusa'. Comentarios de ese estilo."
        ng-class="vm.getPreguntaClass(9, 'panel-warning')">
        <p>En casos que se incurran en tu lugar de trabajo, el artículo 133 del Código Penal paraguayo estipula la tipificación “Acoso sexual” que se aplica para los casos de hostigación a otra persona en situación de dependencia, abuso de autoridad o influencia que le confieren sus funciones. Se prevée pena privativa de libertad de hasta dos años.</p>
        <p>Esta acción legal dependerá de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada. </p>
    </div>
</uib-accordion>