<p><b>El monitoreo constante de las actividades de la persona, su vida diaria, o información, sea
    pública o privada, pertinente a la persona o a la organización.</b></p>
<p><u>Acceso y control, manejo no autorizado de cuentaso dispositivos:</u> Ataques no autorizados para ganar acceso a
    las cuentas o dispositivos de otros. Esto puede implicar que información no autorizada se junte, y/o el bloqueo de
    acceso a la cuenta a la persona dueña de la cuenta misma. </p>
<p><u>Doxeo:</u> Investigar y difundir información identificable sobre una persona sin su consentimiento, muchas veces
    con la intención de tener acceso o contacto con la persona con fines de acoso u otros fines nocivos. </p>
<p><u>Uso de spyware:</u> Software para espiar y obtener información de otros dispositivos o acceso a cuentas sin el
    consentimiento del usuario. </p>

    
<uib-accordion close-others="false">
    <div uib-accordion-group
        heading="¿Alguna vez te pasó que trataste de entrar a tus cuentas y alguien (no sabemos quién) cambió las credenciales y perdiste el acceso a tu identidad digital?"
        ng-class="vm.getPreguntaClass(4, 'panel-danger')">
        <p>El derecho a la intimidad se encuentra expresamente en nuestra Constitución Nacional en su artículo 33, además de ser consagrado como un derecho humano por la Declaración Universal de los Derechos Humanos en su artículo 12 y por el Pacto Internacional de los derechos civiles y políticos en su artículo 17. El derecho a la vida privada es el derecho que tenés a decidir y controlar cuándo y quién accede a diferentes aspectos de tu vida particular. Es tu potestad de excluir a terceros el conocimiento de tu vida privada, es decir, sentimientos, comportamientos e información sensible y que no sea considerado interés público.</p>
        <p>En caso que puedas identificar a la persona que realizó esta acción, puedes analizar presentar una acción penal remitiendote en el siguiente artículo considerado “De los delitos informáticos” que son: Artículo 146 b.-Acceso indebido a datos y Artículo 174 b.-Acceso indebido a sistemas, ambos se refieren a acceso indebidos de bienes tecnológicos e identidades (datos personales) sin tu consentimiento. Con pena privativa de libertad de hasta tres años o multa. </p>
        <p>También se encuentra la instancia Civil para la indemnización por daños y perjuicios que se enmarcar en el artículo 1835 del Código Civil paraguayo. Esto se aplica a los casos que existieron daño causado en perjuicio a tu persona, a tus derechos o facultades o cosas de dominio o posesión.</p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada.</p>
    </div>

    <div uib-accordion-group
        heading="¿Alguna vez tu pareja te ha solicitado alguna contraseña tuya para tener acceso a tus dispositivos o cuentas?"
        ng-class="vm.getPreguntaClass(5, 'panel-danger')">
        <p>El derecho a la intimidad se encuentra expresamente en nuestra Constitución Nacional en su artículo 33, además de ser consagrado como un derecho humano por la Declaración Universal de los Derechos Humanos en su artículo 12 y por el Pacto Internacional de los derechos civiles y políticos en su artículo 17. El derecho a la vida privada es el derecho que tenés a decidir y controlar cuándo y quién accede a diferentes aspectos de tu vida particular. Es tu potestad de excluir a terceros el conocimiento de tu vida privada, es decir, sentimientos, comportamientos e información sensible y que no sea considerado interés público.</p>
        <p>En el caso que te hayas sentido presionado/a por otra persona, mediante violencia ilegítima a adoptar un determinado comportamiento en Internet en contra de tu voluntad o a impedirte con violencia a realizar un acto en Internet que la ley no prohíbe. El Código penal paraguayo sanciona en su artículo 120 todo tipo de coacción y el artículo 121 de coacción grave, que ponga en peligro tu vida o integridad física. </p>
        <p>Si alguna vez te amenazaron de un hecho punible que afecta a tu vida en Internet o integridad física u otra cosa de valor considerable, el Código Penal prevé en su artículo 122 de Amenaza, una sanción a este tipo de conducta con pena privativa de libertad de hasta un año o con multa.</p>
        <p>Si tenés prueba que una persona escucha, graba, almacena o comparte con otras personas el acceso de tus comunicaciones en Internet e imágenes sin tu consentimiento en cualquier soporte digital o impreso. El artículo 144 sobre “Lesión del derecho a la comunicación y a la imagen” del Código Penal paraguayo sanciona esta conducta con el castigo es con pena privativa de libertad de hasta dos años o con multa. </p>
        <p>Y si conocés a la persona que accedió a tus datos digitales o a tus sistemas informáticos sin tu consentimiento, el Código Penal tipifica estos hechos antijurídicos, denominados delitos informáticos que son artículo 146 b.- Acceso indebido a datos y artículo 174 b.-Acceso indebido a sistemas; ambos se refieren a acceso indebidos de bienes tecnológicos e identidades (datos personales) sin tu consentimiento. Estas conductas sancionan con pena privativa de libertad de hasta tres años o multa.</p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada.         </p>
    </div>

    <div uib-accordion-group
        heading="¿Alguna vez te han pedido una foto o prueba sobre lo que estás haciendo o donde estás? Por ejemplo: Tu pareja te pide una selfie para ver cómo andás o no te cree que estás dormidx en tu casa."
        ng-class="vm.getPreguntaClass(6, 'panel-danger')">
        <p>El derecho a la intimidad se encuentra expresamente en nuestra Constitución Nacional en su artículo 33, además de ser consagrado como un derecho humano por la Declaración Universal de los Derechos Humanos en su artículo 12 y por el Pacto Internacional de los derechos civiles y políticos en su artículo 17. El derecho a la vida privada es el derecho que tenés a decidir y controlar cuándo y quién accede a diferentes aspectos de tu vida particular. Es tu potestad de excluir a terceros el conocimiento de tu vida privada, es decir, sentimientos, comportamientos e información sensible y que no sea considerado interés público.</p>
        <p>En el caso que te hayas sentido presionado/a por otra persona, mediante violencia ilegítima a adoptar un determinado comportamiento en Internet en contra de tu voluntad o a impedirte con violencia a realizar un acto en Internet que la ley no prohíbe. El Código penal paraguayo sanciona en su artículo 120 todo tipo de coacción y el artículo 121 de coacción grave, que ponga en peligro tu vida o integridad física. </p>
        <p>Si alguna vez te amenazaron de un hecho punible que afecta a tu vida en Internet o integridad física u otra cosa de valor considerable, el Código Penal prevé en su artículo 122 de Amenaza, una sanción a este tipo de conducta con pena privativa de libertad de hasta un año o con multa.</p>
        <p>Para los caso que te hayas sentido forzado/a por otra persona a realizar un acto contra tu voluntad a través de amenazas o intimidación para evitar que tu información sea compartida por otros, el Código Penal sanciona este tipo de conducta en su artículo 185 denominado Extorsión. </p>
        <p>El artículo 144 sobre “Lesión del derecho a la comunicación y a la imagen” del Código Penal paraguayo sanciona esta conducta siempre y cuando escuchara, grabara o almacenara o facilitara a terceros el acceso a la comunicación e imagen sin consentimiento. El castigo es con pena privativa de libertad de hasta dos años o con multa. </p>
        <p>Todas estas acciones legales dependerán de la instancia de la víctima, es decir de vos y se deberán realizar bajo patrocinio obligatorio de un abogado o abogada.</p>
    </div>
</uib-accordion>